doctype html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
head
    meta(charset='utf-8')
    |     
    title
  body
    div
      h1 Example Home Page
      |     
      p This page is established to be used for illustrative purposes.
      |     
      p
        a(href='/summary') Fuel Cell Summary...
    div
      h1 Download Example
      |     
      p This an example download.
      |     
      p
        a(href='/download') How cute...
