extends layout

block styles
    // add style files

block headscripts
    // add scripts that load in head

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/unitstatus.js")


block content
 h1#pgtitle= title
 table.customers#statstable
     tr.header
       th Parameter
       th Value

     - devs = [ "Da Power!", "Fuel Pressure", "Watt Hours Delivered", "Battery Type", "Charge Voltage", "Max Charge Current" ];
     each dev in devs
        tr
           td.row #{dev}
           td.rowalt Data
 br
 form(name="Mine" method="get", action="/action") 
    | Message:
    input(name="msg", type="text", value="Now")
    input(id="hit", value="Log", type="button", onClick="processLog(Mine.msg.value)")
    | --
    input(id="action", value="View Log", type="submit")

 style.
    .graphblock
    {
    display: inline-block;
    background-color: white;
    box-shadow: 2px 2px 2px silver;
    float: left;
    position: relative;
    text-align: center;    
    }
    .customers
    {
    font-family:"Times New Roman", Times New Roman, Times New Roman, Times New Roman;
    border-collapse:collapse;
    }
    .header
    {
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color: red;
    color:white;
    }
    .row
    {
    font-size:1em;
    border:1px solid #98bf21;
    padding:3px 7px 2px 7px;
    }
    .rowalt
    {
    font-size:1em;
    border:1px solid #98bf21;
    padding:3px 7px 2px 7px;
    color:#000000;
    background-color:#EAF2D3;
    }

block scripts
    // scripts that load after content above
