doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block headscripts    
    block styles
  body
    block content
    block scripts
    block endbody
